:root{
    --primary-100:#DAA520;
    --primary-90:#E6BD55;
    --primary-10:#FCF8EC;
    --primary-5:#FEFCF6;
    --primary-110:#C7971E; 

    --secondary-100:#2055DA;
    --secondary-90:#557EE6;
    --secondary-10:#ECF1FC;
    --secondary-5:#F6F9FE;
    --secondary-110:#2055DA;

    --neutral-100:#333333;
    --neutral-90:#666666;
    --neutral-10:#EEEEEE;
    --neutral-5:#F6F6F6;
    --neutral-110:#222222;

    --font-brand:'Sansita Swashed', cursive;
    --font-content:'Montserrat', sans-serif;

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-bold:700;

    --font-0: clamp(1.00rem, calc(1.00rem + 0.00vw), 1.00rem);
    --font-1: clamp(1.20rem, calc(1.18rem + 0.09vw), 1.25rem);
    --font-2: clamp(1.44rem, calc(1.40rem + 0.21vw), 1.56rem);
    --font-3: clamp(1.73rem, calc(1.65rem + 0.39vw), 1.95rem);
    --font-4: clamp(2.07rem, calc(1.95rem + 0.64vw), 2.44rem);
    --font-5: clamp(2.49rem, calc(2.29rem + 0.98vw), 3.05rem);

    --elevation-navbar:0px 3px 3px rgba(0, 0, 0, 0.14);
    --elevation-button:0px 4px 5px rgba(0, 0, 0, 0.14);

    --padding-inline:clamp(0.75rem, calc(0.49rem + 1.30vw), 1.50rem);
    --padding-block:clamp(0.50rem, calc(0.33rem + 0.87vw), 1.00rem);
    --button-border-radius: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.50rem);

    --card-button-padding-inline: clamp(0.75rem, calc(0.66rem + 0.43vw), 1.00rem);
    --card-button-padding-block:  clamp(0.50rem, calc(0.41rem + 0.43vw), 0.75rem);
}

body, hr{
    font-family: var(--font-content);
    background-color: var(--neutral-5);
    color: var(--neutral-100);
    scroll-behavior: smooth;
}

.navbar{
    font-weight: var(--font-weight-bold);
    background-color: var(--primary-100);
    box-shadow: var(--elevation-navbar);
}

.navbar-brand{
    font-family:var(--font-brand);
    font-size: var(--font-4);
    color: var(--neutral-100);
}

.nav-link{
    font-size: var(--font-1);
    color: var(--neutral-100);
}

.navbar-brand:hover, .nav-link:hover{
    color: var(--neutral-90);
}

.navbar-brand:active, .navbar-brand:focus{
    color: var(--neutral-110);
}

.txt > h5{
   font-size: var(--font-1); 
   font-weight: var(--font-weight-normal)
}

.txt > h1{
    font-family: var(--font-4);
    font-weight: var(--font-weight-normal);
}

.txt > p{
    font-size: var(--font-0);
    font-weight: var(--font-weight-medium);
}

.gmb{
    font-size: var(--font-0);
    background-color: var(--primary-100);
    color: var(--neutral-100);
    border: none;
    border-radius: var(--button-border-radius);
    padding: var(--padding-block) var(--padding-inline)
}

#vještine h2{
    font-size: var(--font-5);
    font-weight: var(--font-weight-bold);
}

 .cards .card-title{
    font-size: var(--font-2);
}

.cards .card-title{
    font-size: var(--font-0);
}

.cards-btn{
    background-color: var(--secondary-100) !important;
    color: var(--neutral-5)!important;
    padding: var(--card-button-padding-block) var(--card-button-padding-inline);
    font-weight: var(--font-weight-bold);
}

.cards-btn:hover{
    background-color: var(--secondary-90)!important;
    color: var(--neutral-5)!important;
    box-shadow:var(--elevation-button);
}

.cards-btn:focus{
    background-color: var(--secondary-110)!important;
    color: var(--neutral-5)!important;
}

.contacts .up> h2{
    font-size: var(--font-5);
}

.contacts .up> p{
    font-size: var(--font-0);
}

.down button{
    background-color: var(--primary-100);
    color: var(--neutral-100);
    padding: var(--padding-block) var(--padding-inline);
    border-radius:var(--button-border-radius);
    border: none;
}

 a{
    color: var(--neutral-100);
    text-decoration: none;
}

.contacts .links{
    list-style: none;
    font-size: var(--font-1);
}

.contacts .links a{
    color: var(--secondary-100);
}

footer{
    background-color: var(--primary-100);
    color: var(--neutral-100);
    box-shadow: var(--elevation-navbar);
    bottom: 0;
}

.gmb:hover, .contact-btn:hover{
    background-color:var(--primary-90);
    box-shadow:var(--elevation-button);
}

.gmb:active, .contact-btn:active{
    background-color: var(--primary-110);
}

.links a:hover{
    color: var(--secondary-90);
}

.links a:focus{
    color: var(--secondary-110);
}

/* my_portfolio */
.bg-image{
    background-image: url('/project/images/aboutme.jpg');
    height: 25vh;
}

.gmb-pocetna{
    background: none;
    border: 2px solid var(--primary-100);
}

.gmb-pocetna:hover{
    background-color: var(--secondary-5);
}

.gmb-pocetna:focus{
    background-color: var(--secondary-10);
}

/* Web Desing */
.bg-image-webdesign{
    background-image: url('/project/images/webdesign-pg-gotovo.jpg');
    height: 25vh;
}

.bg-image-frontend{
    background-image: url('/project/images/frontend-header-gotovo.jpg');
    height: 25vh;
}

.bg-image-graficki{
    background-image: url('/project/images/graphicdesign-header.jpg');
    height: 25vh;
}